<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gambling Site</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <a class = "logo" href="{{url_for('global_home') }}">GamblePro</a>
    </div>
    <nav>
      <a href="{{ url_for('global_home') }}">Home</a>
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('game_board') }}">Sports</a>
      <a href="{{ url_for('forum') }}">Forums</a> 
    </nav>
    <div class="auth">
      <a href="{{ url_for('login') }}" class="login">Login</a>
      <a href="{{ url_for('signup') }}" class="join">Join</a>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 GAMBLEPRO. All rights reserved.</p>
      <nav>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Responsible Gambling</a>
      </nav>
    </div>
  </footer>
</body>
</html>
