{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}">
<div class="page-wrapper">
  <main class="forum-container">
      <div class="breadcrumb">
        <div class="pagination">
          <button class="active">&#9917;</button>
          <button>&#9918;</button>
          <button>&#9971;</button>
          <button>&#127934;</button>
          <button>&#127936;</button>
          <button>&#127953;</button>
          <button>&#127943;</button>
          <button>&#127944;</button>
          <button>&#127946;</button>
          <button>&#127951;</button>
      </div>
      </div>

      <table class="forum-table">
          <thead>
              <tr>
                  <th>Threads</th>
                  <th>Rating</th>
                  <th>Replies</th>
                  <th>Starter</th>
                  <th>Last Post</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Bookie issue</td>
                  <td>-</td>
                  <td>0</td>
                  <td>sharpshooter23</td>
                  <td>No posts</td>
              </tr>
              <tr>
                  <td>Jackpot probability</td>
                  <td>0</td>
                  <td>0</td>
                  <td>rayriflepie</td>
                  <td>No posts</td>
              </tr>
              <tr>
                  <td>UnlimitedPain Lottery - Entry 1 Xan (1 2)</td>
                  <td>5 &#9660;</td>
                  <td>34</td>
                  <td>UnlimitedPain</td>
                  <td>UnlimitedPain</td>
              </tr>
              <tr>
                  <td>AviArcer Bookie Tips 2.0 (1 2 3 4)</td>
                  <td>63 &#9650;</td>
                  <td>68</td>
                  <td>AviArcer</td>
                  <td>AviArcer</td>
              </tr>
          </tbody>
      </table>

      <div class="pagination">
          <button>&lt;</button>
          <button class="active">1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>7</button>
          <button>8</button>
          <button>9</button>
          <span>...</span>
          <button>99</button>
          <button>&gt;</button>
      </div>
  </main>
</div>
{% endblock %}
