{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum_post.css') }}">

<div class="post-container">
    <h1>{{ post.title }}</h1>
    <p><i><strong>Posted by:</strong> {{ post.author }}</i></p>
    <p><strong>Category:</strong> {{ post.category }}</p>
    <p><strong>Posted on:</strong> {{ post.timestamp }}</p>
    <hr>
    <p>{{ post.body }}</p>
    <hr>
    <div class = "button-container">
        <a href="{{ url_for('forum') }}" class="button">Back to Forum</a>
    </div>
</div>

<div class="comment-section">
    <h2>Replies</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="comment-form">
            {{ form.author.label }}<br>
            {{ form.author(class="input-field") }}<br>
            {{ form.reply.label }}<br>
            {{ form.reply(class="input-field", cols=50, rows=4) }}<br>
            {% for error in form.reply.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <button type="submit" id="form_submit">Submit Comment</button>
        </div>
    </form>

    <div class="comments-list">
        {% for reply in post.replies %}
            <div class="reply-item">
                <p><strong>{{ reply.author }}</strong> ({{ reply.timestamp }})</p>
                <p>{{ reply.body }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock%}