{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}">

<div class="page-wrapper">
    <main class="forum-container">
        <div class="breadcrumb">
            <div class="filter">
                <label for="category">Filter by Category:</label>
                <form method="get" action="{{ url_for('forum') }}">
                    <select name="category" onchange="this.form.submit()">
                        <option value="all" {% if category == 'all' %}selected{% endif %}>All</option>
                        {% for cat in filter_categories %}
                            <option value="{{ cat }}" {% if category == cat %}selected{% endif %}>{{ cat }}</option>
                        {% endfor %}
                    </select>
                </form>                
            </div>
            {% if session.get('logged_in') %}
                <div class="create-post">
                    <a href="{{ url_for('create_post') }}" class="button create-post">Create Post</a>
                </div>
            {% endif %}
        </div>

      <table class="forum-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Replies</th>
                    <th>Author</th>
                    <th>Last Post by</th>
                    <th>First Posted on</th>
                </tr>
            </thead>

            <tbody>
                {% for post in posts %}
                    {% if post.category == category or category == 'all' %}
                    <tr>
                        <td> {{ post.category }} </td>
                        <td><a href="{{ url_for('view_post', post_id=post.id) }}"> {{ post.title }} </a></td>
                        <td style="text-align: center"> {{ post.replies.count() }} </td>
                        <td> {{ post.author }} </td>
                        <td> {{ post.most_recent_reply.author }} </td>
                        <td> {{ post.timestamp }} </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('forum', category=category, page=pagination.prev_num) }}">« Prev</a>
            {% endif %}
        
            {% for p in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if p %}
                    {% if p == pagination.page %}
                        <span class="active"><strong>{{ p }}</strong></span>
                    {% else %}
                        <a href="{{ url_for('forum', category=category, page=p) }}">{{ p }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        
            {% if pagination.has_next %}
                <a href="{{ url_for('forum', category=category, page=pagination.next_num) }}">Next »</a>
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}
