{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum_post.css') }}">

<div class="post-container">
    <h1>{{ post.title }}</h1>
    <p><i><strong>Posted by:</strong></i> <span class = "author">{{ post.author }}</span><i> on </i>{{ post.timestamp }}</p>
    <p><strong>Category:</strong> {{ post.category }}</p>
    <br>
    <p>{{ post.body }}</p>
    <br>
    <div class = "button-container">
        <a href="{{ url_for('forum') }}" class="button">Back to Forum</a>
    </div>
</div>

<div class="comment-section">
    <h2>Comment</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="comment-form">
            <div class="row">
                {{ form.author.label }}<br>
                {{ form.author(class="input-field") }}<br>
            </div>
            <div class="row">
                {{ form.reply.label }}<br>
                {{ form.reply(class="input-field", cols=50, rows=2) }}<br>
            </div>
            {% for error in form.reply.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <div class = "button-container">
                <button type="submit" id="form_submit" class="button">Submit Comment</button>
            </div>
        </div>
    </form>

    <div class="comments-list">
        {% for reply in post.replies %}
            <div class="reply-item">
                <p><span class = "author">{{ reply.author }}</span> <i>({{ reply.timestamp }}) said:</i></p>
                <p>{{ reply.body }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock%}