{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy.css') }}">

<main class="wrapper">
    <div class="container">
        <header class="privacy-header">
            <h1>Privacy Policy</h1>
        </header>
        <section class="privacy-content">
            <p>Your privacy is important to us. This policy explains how we handle user information:</p>
            <ul>
                <li>
                    <p>We collect personal information to improve and provide you with a more personalised experience on our platform. <br>
                        Collected information may include but is not limited to:</p>
                    <ul style="margin-left: 20px;">
                        <li>Name</li>
                        <li>Email address</li>
                        <li>Phone number</li>
                        <li>Date of birth</li>
                    </ul>
                </li>
                <li>All information provided by users is handled with care and stored securely.</li>
                <li>We do not share user information with third parties unless required by law.</li>
                <li>Users are encouraged to use the platform responsibly and manage their account settings as needed.</li>
            </ul> 
        </section>
    </div>
</main>
{% endblock %}