{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global_home.css') }}">
<body>
    <main>
        <div class="form">
            <h1>Create an Account</h1>
            <form id="signup-form" method="POST" action="{{ url_for('signup') }}">
                {{ form.hidden_tag() }}
                <h2>Personal Information</h2>
                <div class="row">
                    <div>
                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control") }}
                    </div>
                    <div>
                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control") }}
                    </div>
                </div>
                <div>
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    <p id="email-error" style="color: red; display: none;">Please enter a valid email address.</p>
                </div>
                <div>
                    {{ form.phone.label }}
                    {{ form.phone(class="form-control", id="phone") }}
                    <p id="phone-error" style="color: red; display: none;">Phone number must be exactly 10 digits.</p>
                </div>
                <div class="row">
                    <div>
                        {{ form.country.label }}
                        {{ form.country(class="form-control") }}
                    </div>
                    <div>
                        {{ form.dob.label }}
                        {{ form.dob(class="form-control", id="dob") }} 
                    </div>
                </div>

                <h2>Login Details</h2>
                <div>
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                </div>
                <div>
                    {{ form.password.label }}
                    {{ form.password(class="form-control", id="password") }}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control", id="confirm-password") }}
                </div>
                <p id="password-error" style="color: red; display: none;">Passwords do not match!</p>
                <div class="button-container">
                    {{ form.submit(class="btn") }}
                </div> 
            </form>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script> 
{% endblock %}