{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms_conditions.css') }}">

<main class="wrapper">
    <div class="container">
        <header class="terms-header">
            <h1>Terms & Conditions</h1>
        </header>
        <section class="terms-content">
            <p>Welcome to GamblePro! By using our website, you agree to the following terms and conditions:</p>
            <ul>
                <li>You must be at least 18 years old to use this website.<br><br>
                    <i>However, this is not strictly enforced as all currency used on the website is fictional.</i></li>
                <li>All bets placed are final and cannot be refunded.</li>
                <li>We are not responsible for any financial losses incurred while using our platform.</li>
                <li>Users must comply with all applicable laws and regulations in their jurisdiction.</li>
                <li>Any misuse of the platform may result in account suspension or termination.</li>
            </ul> 
        </section>
    </div>
</main>
{% endblock %}